.title {
  font-weight: 700;
  color: #000000;
}

.h1 {
  font-size: 32px;
  line-height: 38px;
  margin-block-end: 24px;

  @media (max-width: 576px) {
    font-size: 24px;
    line-height: 28px;
  }
}
