.header {
  background-color: black;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 576px) {
    padding: 16px 8px;
  }
}

.logo {
  background-color: red;
  padding: 11px 10px;
  width: fit-content;
  border-radius: 99px;
  user-select: none;
}

.logoText {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;

  @media (max-width: 576px) {
    font-size: 12px;
    line-height: 15px;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;

  @media (max-width: 576px) {
    gap: 12px;
  }
}

.navLink {
  font-size: 16px;
  line-height: 19px;
  color: #b9b9b9;

  &:hover {
    color: #ffffff;
  }
}

.navLink_active {
  color: #ffffff;
}
