.authPage {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.authForm {
  max-width: 400px;
  width: 100%;
  box-sizing: content-box;

  padding: 24px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 1px solid #b9b9b9;
  margin: 12px;

  @media (max-width: 576px) {
    padding: 12px;
    margin: 0;
  }
}

.authForm > h1 {
  text-align: center;
}

.linkBlock {
  display: flex;
  justify-content: space-between;
  margin-block-start: 24px;

  @media (max-width: 576px) {
    display: grid;
    gap: 16px;
    justify-content: center;
    margin-block-start: 24px;
  }
}

.form {
  display: grid;
  gap: 24px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  background: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 12px;
  font-size: 16px;
  padding: 15px 8px 15px 16px;

  &:focus-visible {
    outline-color: #0070ff;
  }

  &::placeholder {
    color: #b9b9b9;
  }

  @media (max-width: 576px) {
    padding: 15px 8px 15px 12px;
    font-size: 14px;
  }
}

.label {
  font-size: 14px;
  line-height: 16px;
  color: #b9b9b9;
  margin-inline-start: 16px;

  @media (max-width: 576px) {
    margin-inline-start: 12px;
  }
}

.error {
  font-size: 14px;
  line-height: 16px;
  color: #ff0000;
  margin-inline-start: 16px;
}
