.wrapper {
  max-width: 900px;
  width: 100%;
  padding: 0 24px;
  margin: 40px auto;
  flex: 1;
  overflow: auto;

  @media (max-width: 900px) {
    width: 100%;
    padding: 0 16px;
    margin: 24px auto;
  }

  @media (max-width: 576px) {
    padding: 0 8px;
  }
}
