.button {
  border-radius: 12px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;

  @media (max-width: 576px) {
    font-size: 14px;
  }
}

.profileButton {
  padding: 10px 12px;
  background: #303030;
  font-size: 14px;

  &:hover {
    background-color: #535353;
  }
}

.loginButton {
  padding: 16px 12px;
  background: #0070ff;
  width: 100%;

  &:hover {
    background-color: #2b7fff;
  }
}

.linkButton {
  background-color: transparent;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #b9b9b9;

  &:hover {
    color: #000000;
  }
}
